.vs/
bin/
obj/
.idea/
packages/
MigrationBackup/
InstallationFiles/Installer/Installer-cache
*.aip
*.aiproj
*.user
/InstallationFiles/Installer/Сгенерированные активы
/InstallationFiles/Installer/Build_MSIX_APPXSetupFiles
